.ProductCardNew .card {
  position: relative;
  overflow: hidden;
}

.ProductCardNew .image {
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.ProductCardNew .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}


/* .ProductCardNew .collectionName {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      background-color: black;
      color: white;
      align-items: center;
      justify-content: flex-end;
      font-size: 0FabricItem 0.8em;
    } */

.ProductCardNew .theme {
  background-color: black;
  text-align: end;
  color: white;
  /* color: #d09d34; */
}

.ProductCardNew .productName {
  font-size: 1.6rem;
  color: white;
  background-color: #00b4cc;
  background-color: #252525;
  color: #d19e25;
  padding-left: 5px;
}

.ProductCardNew .link {
  text-decoration: none;
  color: black;
}

.ProductCardNew .price{
  color:green;
}

.ProductCardNew .unauthenticated{
  color:red;
}