/* .ProductDetailCardNew {
    display: flex;
    justify-content: center;
} */

.ProductDetailCardNew .productHero  > * {
    margin-top:1rem;
}
.ProductDetailCardNew .variant_menu .variant_links{
    display: flex;
    gap:10px;
    text-decoration: none;
    /* color:white; */
    /* background-color: black; */
}

.ProductDetailCardNew .variant_menu label{
    text-transform: capitalize;
}

.ProductDetailCardNew .variant_menu .variant_links .link{
    display: block;
    padding:10px 20px;
    margin:2px 0;
    border-radius: 10px;
    color:blue;
    text-decoration: none;
    background-color: rgba(255,255,255,0.5);
    text-transform: capitalize;
}


.ProductDetailCardNew .variant_menu .variant_links .checked_variant_link{
    background-color: black;
    color:#d19e25;
}




.ProductDetailCardNew .detailCardContainer {
    display: flex;
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
    gap: 2rem;
    /* width: max-content; */
    
}

.ProductDetailCardNew .detailCardContainer .productMedia {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ProductDetailCardNew .detailCardContainer .productMedia .thumbs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.ProductDetailCardNew .detailCardContainer .productMedia .thumbs .thumb {
    height: 60px;
    width: 60px;
    background-color: white;
    cursor: pointer;
}

.ProductDetailCardNew .detailCardContainer .productMedia .thumbs .thumb_selected {
    border: 1px solid black;
}


.ProductDetailCardNew .detailCardContainer .productMedia .thumbs .thumb .img {
    aspect-ratio: 1/1;
    position: relative;
}

.ProductDetailCardNew .detailCardContainer .productMedia .thumbs .thumb .img img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
    /* object-position: bottom; */
}

.ProductDetailCardNew .detailCardContainer .productMedia .gallery {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    width: 600px;
    height: 600px;

}

.ProductDetailCardNew .prevButton,
.ProductDetailCardNew .nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 1;
}

.ProductDetailCardNew .prevButton {
  left: 0;
}

.ProductDetailCardNew .nextButton {
  right: 0;
}

.ProductDetailCardNew .prevButton:hover,
.ProductDetailCardNew .nextButton:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.ProductDetailCardNew .detailCardContainer .productMedia .gallery .img {
    /* aspect-ratio: 1/1; */
    position: relative;
    padding:10px;

    height: 100%;
    width: 100%;
    /* width: auto; */
    /* transition: opacity 0.5s ease-in-out;
    opacity: 0; */
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}

.ProductDetailCardNew .detailCardContainer .productMedia .gallery .img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* object-position: bottom; */

}
.ProductDetailCardNew .gallery .img .zoom {
    /* position: fixed;
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 400%;
    pointer-events: none;
    z-index: 2; */
    position: fixed;
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 1000%; /* Adjust this to fit the natural size */
    pointer-events: none;
    z-index: 2;
    transform: translate(-50%, -50%);
  }



  .ProductDetailCardNew .detailCardContainer .productHero .productCategory{
    text-transform: capitalize;
  }

/* .ProductDetailCardNew .detailCardContainer .productMedia .gallery  .loaded {
    opacity: 1;
} */

/* 
@media screen & (max-width:1080px) {
    
} */

@media screen and (max-width: 768px) {
    .ProductDetailCardNew .detailCardContainer {
        flex-direction: column;
        align-items: center;
    }

    .ProductDetailCardNew .detailCardContainer .productMedia .thumbs {
        display: none;
    }

    .ProductDetailCardNew .detailCardContainer .productMedia .gallery {
        position: relative;
        width: 300px;
        height: 300px;
    
    }


    .ProductDetailCardNew .detailCardContainer .productMedia .img {
        overflow: hidden;
        height: 100%;
        width: 100%;
    
    }

}
