.img-magnifier-glass {
    position: absolute;
    z-index: 3;
    border: 3px solid #000;
    border-radius: 40%;
    cursor: none;
    width: 100px;
    height: 100px;
    opacity: 0;
    pointer-events: none;
  }
  
  .img-magnifier-container:hover .img-magnifier-glass {
    opacity: 1;
    pointer-events: initial;
  }
  
  .img-magnifier-container {
    width: 115px;
    text-align: center;
  }